html, body, #carousel{
    height: 100vh;
    overflow-x: hidden;
}
body{
    background: url(assets/capa.png), url(assets/ruido.png), linear-gradient(52deg,#ff4169,#7c26f8);
    background-attachment: fixed;
    font-family: Helvetica,Arial,sans-serif;
}
h1,h2{
    color: white;
    font-weight: 700;
    letter-spacing: -0.09rem;
}
/*Navbar*/
#container-navbar{
    padding: 15px 0;
    background-color: rgb(0, 0, 0, 0.6);
}
#container-navbar img{
    color: #000;
}
#container-navbar button{
    border-color: white;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: #1ed760;
}
.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}
/*Main*/
/*Section carousel*/
#carousel,
#carousel a{
    text-align: center;
    color: white;
}
#carousel h1{
    font-size: 6em;
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
}
.carousel-control-next, .carousel-control-prev {
    width: 5%;
}
i.fa-lg {
    font-size: 50px;
}
#carousel .btn-purple,
#carousel .btn-white{
    text-transform: uppercase;
    border-radius: 50px;
    padding: 10px 20px;
}
#carousel .btn-purple{
    background-color: #7c26f8;
    transition: background 0.4s;
}
#carousel .btn-purple:hover{
    background-color: #6207e3;
    
}
#carousel .btn-white{
    border: 2px solid white;
    transition: background 0.4s, color 0.4s;
}
#carousel .btn-white:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
/*Section: about-spotify*/
#about-spotify {
    position: relative;
    padding: 20px 0;
    z-index: -2;
}
/*Lado esquerdo*/
#albums .row{
    padding: 10px 0;
}
/*Lado direito*/
#about-spotify h1,
#about-spotify h2{
    color: #7c26f8;
}
#about-spotify h1{
    font-size: 3rem;
}
/*Section cellphones*/
#cellphones{
    padding: 20px 0;
}
#cellphones h1{
    font-size: 3rem;
}
#cellphones h2{
    color: #9bf0e1;
}
#cellphones p{
    color: white;
}
#cellphones .rotacao{
    position: relative;
    transform: rotate(30deg);
    padding-left: 80px;
    z-index: -1;
}

/*Footer*/
footer{
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #000;
}
footer h6{
    margin-bottom: 10px;
    font-size: 0.8rem;
    color: #918787;
}
footer li{
    margin-left: 5px;
    font-size: 0.8rem;
    margin-bottom: 5px;
}
footer a {
    color: #ffffff;
    
}
footer #social-medias a{
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    padding: 10px;
    font-size: 2rem;
    background-color: #2c2828;
    
}
footer a:hover{
    text-decoration: none;
    color: #1ed760;
}
footer #social-medias a:hover{
    color: #1ed760;
}
footer #social-medias .instagram{
    padding: 13px;
}
footer #social-medias .twitter{
    padding: 11px;
}
footer #social-medias .facebook{
    padding: 17px;
}
footer #social-medias {
    display: flex;
    height: 54px;
    gap: 10px;
}
/*Media Queries*/
/*Altura*/
@media (max-height: 375px){
    #carousel h1{
        margin-top: 120px;
    }
}
@media (min-height: 375px) and (max-height: 440px){
    #carousel h1{
        margin-top: 60px;
    }
}
/*Largura*/
@media (max-width: 326px) { 
    #carousel h1{
        margin-top: 60px;
        font-size: 1.4em;
    }
    #carousel .btn-purple{
        margin-bottom: 50px;
    }
    #carousel .btn-purple,
    #carousel .btn-white{
        padding: 10px 20px;
        font-size: 0.7em;
        font-weight: 600;
    }
    footer img{
        margin-bottom: 20px;
    }
}
@media (min-width: 327px) { 
    #carousel h1{
        font-size: 2em;
        margin-bottom: 80px;
    }
    #carousel .btn-purple{
        margin-bottom: 50px;
    }
    #carousel .btn-purple,
    #carousel .btn-white{
        padding: 10px 10px;
        font-size: 1em;
        font-weight: 600;
    }
    i.fa-angle-right{
        position: absolute;
        top: 70px;
        right: 1px;
    }
    i.fa-angle-left{
        position: absolute;
        top: 70px;
        left: 1px;
    }
    footer img{
        margin-bottom: 20px;
    }
}
@media (min-width: 458px) { 
    #carousel h1{
        font-size: 2.9em;
        margin-bottom: 50px;
    }
    #carousel .btn-purple{
        margin-bottom: 50px;
    }
    #carousel .btn-purple,
    #carousel .btn-white{
        padding: 10px 15px;
        font-size: 1.25em;
        font-weight: 400;
    }
    i.fa-angle-right{
        position: static;
    }
    i.fa-angle-left{
        position: static;
    }
}

@media (min-width: 576px) { 
    #carousel h1{
        font-size: 3.4em;
    }
    #carousel .btn-purple,
    #carousel .btn-white{
        padding: 15px 30px;
        font-size: 1.25em;
    }
    .carousel-control-next{
        right: -25px;
    }
    .carousel-control-prev{
        left: -25px;
    } 
    i.fa-lg {
        font-size: 50px;
    }

}

@media (min-width: 768px) { 
    #carousel h1{
        font-size: 4em;
    }
    #carousel .btn-purple{
        margin-bottom: 0;
    }
    #carousel .btn-purple,
    #carousel .btn-white{
        padding: 10px 20px;
    }
    #cellphones .rotacao {
        padding-top: 40px;
    }
    .carousel-control-next{
        right: -40px;
    }
    .carousel-control-prev{
        left: -40px;
    }
    footer img{
        margin-bottom: 0px;
    }
}

@media (min-width: 992px) { 
    #carousel h1{
        font-size: 5em;
    }
    #cellphones .rotacao {
        padding-top: 0px;
    }  
    .carousel-control-next{
        right: 0px;
    }
    .carousel-control-prev{
        left: 0px;
    } 
 }

@media (min-width: 1200px) { 
    #carousel h1{
        font-size: 6em;
    }
    
 }
